#step2-section,
#step3-section,
#step4-section {
    display: none;
}

#step1-section,
#step2-section,
#step3-section,
#step4-section{
    height: 82vh;
    padding-top: 40px;
}
#step1:hover,
#step2:hover,
#step3:hover,
#step4:hover {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    font-size: 14pt;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.row-wrapper{
    height: -webkit-fill-available;
}

/* .instructions-text{
    display: flex;
    justify-content: center;
} */